.ui {
    background-color: LightSteelBlue;
    padding: 1em;
    float:left;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    box-shadow: 0.3em 0.3em 1em #333;
}

.dialog {
    max-width: 15em;
}

.dialog-title {
    font-weight: bold;
    margin-right: 0.5em;
}

.arrow {
    width: 2em;
    height: 2em;
}

.ui .selected {
    border-style: double;
    border-width: 2px;
}